---
const request = await fetch(import.meta.env.PUBLIC_API_URL + "/books/all");
const response = await request.json();
const books = response.data;
---

<table>
  <tr>
    <th class="title">Title</th>
    <th class="author">Author</th>
    <th class="genres">Genres</th>
  </tr>
  <form>
    {
      books.map((book: any, index: number) => (
        <tr class={"entry-" + (index + 1)}>
          <td>
            <>
              <input
                type="radio"
                name="book-select"
                value={book.title}
                id={book._id}
                onclick="console.log(value + ' id: ' + id)"
              />
              <span>{book.title}</span>
            </>
          </td>
          <td>{book.author}</td>
          <td>
            {book.genres.map((genre: any, index: number) => (
              <span>
                {genre + (!(index >= book.genres.length - 1) ? ", " : "")}
              </span>
            ))}
          </td>
        </tr>
      ))
    }
  </form>
  <tr>
    <form action="">
      <td class="new-book">
        <input
          class="new-book"
          id="title"
          type="text"
          placeholder="New book title"
        />
      </td>
      <td class="new-book">
        <input
          class="new-book"
          id="author"
          type="text"
          placeholder="eg. Shakespeare"
        />
      </td>
      <td class="new-book">
        <input
          class="new-book"
          id="genres"
          type="text"
          placeholder="eg. Horror"
        />
      </td>
    </form>
  </tr>
</table>

<style>
  table {
    background-color: black;
    min-width: 60vw;
    max-width: 90vw;
  }
  th {
    background-color: grey;
    color: whitesmoke;
  }
  tr,
  td {
    padding: 4px 16px 4px 8px;
    background-color: lightgrey;
  }
  td.new-book {
    padding: 0;
  }
  td input.new-book {
    all: unset;

    width: 85%;
    min-height: 22px;
    max-height: 36px;

    padding: 4px 0 4px 16px;

    font-size: 16px;
    font-style: italic;
  }
  .title {
    width: 40%;
  }
</style>
