---
const request = await fetch(import.meta.env.API_URL + "/books/all");
const response = await request.json();
const books = response.data;
---

<table>
  <tr>
    <th id="title">Title</th>
    <th id="author">Author</th>
    <th id="genres">Genres</th>
  </tr>
  {
    books.map((book: any) => (
      <tr class="entry">
        <td id="title">{book.title}</td>
        <td id="author">{book.author}</td>
        <td id="genres">
          {book.genres.map((genre: any, index: number) => (
            <span>
              {genre + (!(index >= book.genres.length - 1) ? ", " : "")}
            </span>
          ))}
        </td>
      </tr>
    ))
  }
</table>

<style>
  table {
    background-color: black;
    max-width: 600px;
    min-width: 80vw;
  }
  th {
    background-color: grey;
    color: whitesmoke;
  }
  tr,
  td {
    padding: 4px 16px 4px 16px;
    background-color: lightgrey;
  }
  #title {
    width: 40%;
  }
</style>
